.playerContainer {
    width: 26.5rem;
    height: 100vh;

    padding: 3rem 4rem;

    background-color: var(--purple-500);
    color: var(--white);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    header {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    strong {
        font-family: Lexend, sans-serif;
        font-weight: 600;
    }

    footer {
        align-self: stretch;

        &.empty .progress {
            opacity: 0.5;
        }
    }
}

.currentEpisode {
    text-align: center;

    img {
        border-radius: 1.5rem;
    }

    strong {
        display: block;
        margin-top: 2rem;
        font: 600 1.25rem Lexend, sans-serif;
        line-height: 1.75rem;
    }

    span {
        display: block;
        margin-top: 1rem;
        opacity: 0.6;
        line-height: 1.5rem;
    }
}

.emptyPlayer {
    width: 100%;
    height: 20rem;

    border: 1.5px dashed var(--purple-300);
    border-radius: 1.5rem;

    background: linear-gradient(143.8deg, rgba(145, 100, 250, 0.8) 0%, rgba(0, 0, 0, 0) 100%);

    padding: 4rem;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

.progress {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.875rem;

    span {
        display: inline-block;
        width: 4rem;
        text-align: center;
    }

    .slider {
        flex: 1;

        .emptySlider {
            width: 100%;
            height: 4px;
            background-color: var(--purple-300);
        }
    }
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.5rem;
    gap: 1.5rem;

    button {
        background-color: transparent;
        border: 0;
        font-size: 0;

        transition: filter .2s;

        outline: none;

        &:disabled {
            cursor: default;
            opacity: 0.5;
        }

        &:hover:not(:disabled) {
            filter: brightness(0.7);
        }

        &.isActive {
            filter: invert(0.35) sepia(1) saturate(3) hue-rotate(100deg);
        }

        &.isActive:hover {
            filter: brightness(0.6) invert(0.35) sepia(1) saturate(3) hue-rotate(100deg);
        }

        &.playButton {
            width: 4rem;
            height: 4rem;
            border-radius: 1rem;
            background-color: var(--purple-400);

            &:hover:not(:disabled) {
                filter: brightness(0.95);
            }
        }
    }
}

@media screen and (max-width: 988px) {
    .playerContainer {
        position: fixed;
        bottom: 0;

        width: 100%;
        height: 8rem;

        padding: 0;

        flex-direction: row;

        header {
            display: none;
        }

        footer {
            display: flex;
        }
    }

    .currentEpisode {
        display: flex;
        flex-direction: row;
        align-items: center;
        
        img {
            width: 8rem;
            height: 100%;

            border-radius: 0;
        }

        strong {
            font-size: 1rem;
            max-width: 40%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-left: 1rem;
        }

        span {
            font-size: .95rem;
            max-width: 30%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-left: 1rem;
        }
    }

    .emptyPlayer {
        position: absolute;
        left: 0;

        width: 7rem;
        height: 100%;

        border-radius: 0;
    }

    .progress {
        position: absolute;
        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);

        .slider {
            width: 8rem;
        }
    }

    .buttons {
        position: absolute;
        bottom: 2rem;
        right: 1rem;
    }
}

@media screen and (max-width: 886px) {
    .progress {
        top: 1rem;
        right: 1rem;

        transform: translate(0%);
    }

    .buttons {
        bottom: 1rem;
    }
}

@media screen and (max-width: 659px) {
    .currentEpisode {
        img {
            display: none;
        }

        strong {
            max-width: 25%;
        }

        span {
            max-width: 15%;
        }
    }
}